.routesWrapper {
  color: rgba(13, 26, 41, 1);
}

.arrivalTag {
  height: 30px;
  border: 1px solid rgba(0,123, 95, 1);
  color: rgba(0,123, 95, 1);
  margin-left: 12px;
  padding: 6px 2px;
  border-radius: 4px;
  font-weight: 800;
  line-height: 135%;
  font-size: 13px;
  text-align: center;
  margin-bottom: 32px;
}

.lateArrivalTag {
  height: 30px;
  border: 1px solid rgba(215, 61, 9, 1);
  color: rgba(215, 61, 9, 1);
  margin-left: 12px;
  padding: 6px 2px;
  border-radius: 4px;
  font-weight: 800;
  line-height: 135%;
  font-size: 13px;
  text-align: center;
  margin-bottom: 32px;
}

.earlyArrivalTag {
  height: 30px;
  border: 1px solid rgba(116, 56, 194, 1);
  color: rgba(116, 56, 194, 1);
  margin-left: 12px;
  padding: 6px 2px;
  border-radius: 4px;
  font-weight: 800;
  line-height: 135%;
  font-size: 13px;
  text-align: center;
  margin-bottom: 32px;
}

.legend .arrivalTag,
.legend .lateArrivalTag,
.legend .earlyArrivalTag {
  min-width: 70px !important;
}
.stopInfo {
  color: rgba(13, 26, 41, 1);
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  border-left: 1px dashed #003087;
  padding-top: 0;
  margin-left: 47px !important;
}

.timepoint {
  height: 62px;
  background: #F1F3F6;
  border: 1px solid #D1D2D6;
  border-radius: 4px;
  margin-left: -96px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #003087;;
  position: absolute;
  top: 19px;
  left: -7px
}

.stopInfo:first-child .dot {
  display: none;
}

.timepointMarker {
  background-color:rgba(0,123, 95, 1);
  color: #fff;
  transform: rotate(-90deg);
  border-radius: 4px 4px 0px 0px;
  width: 62px;
  height: 22px;
  padding: 2px 0px;
  position: absolute;
  top: 20px;
  left: -20px;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

.timepointInfo {
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: #0D1A29;
  padding: 20px 30px;
}

.timepointRight {
  display: flex;
  justify-content: end;
  margin-right: 0 !important;
  padding-right: 24px !important;
  margin-top: 16px !important;
}

.right {
  display: flex;
  justify-content: end;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.empty {
  height: 14px;
  margin: 0;
  padding: 0;
  border-left: 1px dashed #003087;
  margin-left: 47px !important;
}

.hide, .show {
  border-radius: 37px;
  width: 270px;
  background-color: #FFFFFF;
  border: 1px solid #33599F;
  padding: 6px 10px 6px 64px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 135%;
  color: #003087;
  cursor: pointer;
}

.hide:hover, .show:hover {
  background-color: #003087 !important;
  color: #FFFFFF !important;
}

.hide .dot, .show .dot {
  position: relative;
  margin-left: -31px;
  top: 0;
  height: 16px;
  width: 16px;
  display: inline-block;
}

.hide .dot::after {
  content: "-";
  color: #FFFFFF;
  font-weight: 700;
  margin-top: -2px;
  display: block;
  margin-left: 5px;
}

.show .dot::after {
  content: "+";
  color: #FFFFFF;
  font-weight: 700;
  margin-top: -2px;
  display: block;
  margin-left: 4px;
}

.spinner {
  margin-top: 200px;
  margin-bottom: 250px;
}

.strong {
  font-size: 17px;
  line-height: 150%;
}

.formCheck {
  display: inline-block !important;
  width: auto !important;
}

.formCheck input[type=radio] {
  margin-left: -21px !important;
}

.formCheck label {
  font-size: 15px !important;
  line-height: 135%;
  font-weight: 400 !important;
  margin-right: 0;
}

.filterSection {
  margin-bottom: 20px;
}

.timepointSwitch {
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #F1F3F6;
  border: 0.860282px solid #D1D2D6;
  border-radius: 86.0282px;
  width: 170px;
  display: inline-flex;
}

.timepointSwitchActive {
  color: #fff;
  background-color: #007B5F;
  border: none;
  outline: none;
  border-radius: 86.0282px;
  height: 34px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1);
}

.timepointSwitchInactive {
  color: rgba(13, 26, 41, 1);
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 86.0282px;
  height: 34px;
}

.legend {
  padding: 22px;
  border: 1px solid rgba(209, 210, 214, 1);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
  margin-left: 40px;
}

.legendTitle {
  font-size: 20px;
  color: rgba(13, 26, 41, 1);
  line-height: 165%;
  font-weight: 600;
  margin-bottom: 24px;
}

.legendText {
 color: rgba(13, 26, 41, 1);
 font-weight: 400;
 font-size: 17px;
 line-height: 25.5px;
}

.indicator {
  margin-right: 8px;
  margin-top: -2px;
}

.shape {
  margin-top: -9px;
}

.estimated {
  float: right;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.25px;
}

.datapoint {
  height: 12px;
  width: 12px;
  border: 2px solid #007B5F;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer !important;
}

.datapointLate {
  font-weight: 600;
  color: rgba(215, 61, 9, 1);
}

.datapointEarly {
  font-weight: 600;
  color: rgba(116, 56, 194, 1);
}

.datapointOnTime {
  font-weight: 600;
  color: rgba(0,123, 95, 1);
}

.infoIcon {
  display: inline-flex;
  margin-left: 10px;
}

.toolTipMap [class$="inner"] {
  max-width: 100% !important;
  width: 420px !important;
  background-color: #FFFFFF;
  padding: 12px;
  font-size: 13px;
  line-height: 17.55px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  color: rgba(13, 26, 41, 1);
}

.toolTip [class$="inner"] {
  background-color: #FFFFFF;
  padding: 12px;
  font-size: 13px;
  line-height: 17.55px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  color: rgba(13, 26, 41, 1);
}

.toolTipMap .arrow {
  border-bottom-color: #FFFFFF;
}

.toolTip .arrow {
  border-bottom-color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .legend {
    margin-left: -15px !important;
    margin-right: -15px;
  }
}

@media screen and (max-width: 991px) {
  .timepointRight {
    justify-content: flex-end !important;
    align-items: end !important;
  }

  .right {
    justify-content: center !important;
  }

  .filterSection {
    padding: 16px;
    border: 1px solid rgba(209, 210, 214, 1);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    margin-left: 0 !important;
    margin-top: -10px;
  }

  .filterSection > div {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .timepointSwitch, .infoIcon {
    display: none;
  }

  .timepointRight {
    margin-top: 0 !important;
  }

  .right {
    margin-left: -20px !important;
  }

  .timepointInfo {
    padding: 15px 0 15px 30px;
  }

  .nonTimepointInfo {
    padding-left: 12px;
    margin-bottom: 12px;
  }

  .timepoint {
    height: 94px;
  }

  .timepointMarker {
    width: 94px;
    top: 35px;
    left: -36px;
  }

  
  .arrivalTag, .lateArrivalTag, .earlyArrivalTag {
    margin-left: 30px !important;
  }

  .legend .arrivalTag,
  .legend .lateArrivalTag,
  .legend .earlyArrivalTag {
    margin-left: 0 !important;
  }
}

.mountedStyle {
  animation: inAnimation 300ms ease-in;
}

.unmountedStyle {
  animation: outAnimation 500ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: collapse;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: collapse;
  }
  100% {
    opacity: 0;
    visibility: collapse;
    height: 0;
  }
}
