.bgimage {
  width:100%;
  height:280px;
  max-height: 280px;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.grey-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.vcenter {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.h-full {
  height: 100%
}

.bg-white {
  background-color: #FFF;
}

.card {
  padding: 16px 60px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-white {
  color: white !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.text-black {
  color: black !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.card-link {
  color: #003087 !important;
  border: none;
}

.card-arrow {
  color: #003087 !important;
  fill: currentColor;
  margin-left: 12px;
}

#route-change {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 14px 16px;
  background-color: white;
  background-image: url("/modules/custom/it_route_trip_tools/assets/images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.align-center {
  text-align: center;
}

.alerts-right-panel {
  padding-right: 65px !important;
}

.region-header-mid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: url('/modules/custom/it_route_trip_tools/assets/images/header hero.jpeg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width:100%;
  height:280px;
  max-height: 280px;
}

.mid-height {
  height: 350px;
  background-color: #F0F5FA;
  margin-bottom: 25px;
}

.routes-page-content-container .region-content > div {
  padding-left: 0;
  padding-right: 0;
}

.hide-mobile .card {
  padding: 20px !important;
  width: 225px;
  height: 120px;
}

.p-0-10 {
  padding: 0 10px !important;
  margin: 0 auto 10px !important
}

button.alerts-collapse:focus, button.alerts-collapse:active
button.alerts-collapse figure:focus, button.alerts-collapse figure:hover, button.alerts-collapse figure:active,
button.alerts-collapse figure:focus::before, button.alerts-collapse figure:hover::before, button.alerts-collapse figure:active::before {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

button.alerts-collapse figure {
  border-radius: 50%;
  border: 1px solid #395b9f;  
  height: 24px;
  width: 24px;
}

button.alerts-collapse figure:before {
  content: "-";
  font-size: 22px;
  display: block;
  position: relative;
  top: -4px;
  text-decoration: none !important;
}

button.alerts-collapse.collapsed figure:before {
  content: "+" !important;
}

@media (min-width: 992px) {
  .routes-page-content-container > .alerts-right-panel {
    padding-left: 0;
  }
  .routes-page-content-container > .alerts-left-panel {
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .mid-height {
    height: auto !important;
    margin-bottom: 0 !important;
  }
  .card.vcenter, #route-change {
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }

  .alerts-right-panel {
    padding-right: 15px !important;
  }

  .header-routes-all .breadcrumb {
    display: none;
  }

  .bgimage {
    background-attachment: initial;
  }

  .route-item-name {
    display: inline-block;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    vertical-align: middle;
  }
  .hide-on-mobile {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .card {
    padding: 12px 30px !important;
  }
}

@media (max-width: 1400px) {
  .card {
    padding: 20px 50px;
  }
}
