/* IT Colors */
html body #route-info-header h2.dir-heading.displaying-now {
  font-size: 2.4rem;
  font-weight: 500;
  margin-left: 15px;
  line-height: 2.6rem;
  margin-bottom: 0;
  margin-top: 0;
}
.timepoint-paragraph {
  display: inline-block;
  font-size: 15px;
  padding-left: 20px;
  vertical-align: middle;
  margin-bottom: 20px;
}

html body #route-info-header #icon-legend {
  margin: 20px 15px 0 15px;
}
html body #route-info-header #icon-legend legend {
  margin-bottom: 0;
  border-bottom: 0;
}
html body #route-info-header #icon-legend legend p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0;
  border-bottom: 0;
}
html body #block-routeandtripformsblock {
  min-height: 497px;
  max-width: 400px;
  /*background: @LightGray;
      padding-top: 17px;*/
}
@media screen and (max-width: 1199px) {
  html body #block-routeandtripformsblock {
    min-height: 420px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  html body #block-routeandtripformsblock {
    max-width: 950px;
    min-height: 340px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 800px) {
  html body #block-routeandtripformsblock {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  html body #block-routeandtripformsblock {
    max-width: 725px;
  }
}
@media screen and (max-width: 600px) {
  html body #block-routeandtripformsblock {
    max-width: 550px;
  }
}
@media screen and (max-width: 375px) {
  html body #block-routeandtripformsblock {
    max-width: 350px;
    margin-left: 12px;
  }
}
html body #block-routeandtripformsblock .nav-tabs {
  border-bottom: none;
}
html body #block-routeandtripformsblock .nav-tabs li {
  padding-bottom: 0;
}
html body #block-routeandtripformsblock .nav-tabs li a {
  padding: 5px 10px;
  background-color: transparent;
  color: #003087;
  border-bottom: 0;
}
@media screen and (max-width: 1199px) {
  html body #block-routeandtripformsblock .nav-tabs li a {
    padding: 5px;
  }
}
html body #block-routeandtripformsblock .nav-tabs li.active {
  /*border-top: 1px solid @LightGray;
                border-left: 1px solid @LightGray;
                border-right: 1px solid @LightGray;
                border-radius: 5px;*/
  margin-left: 1px;
}
html body #block-routeandtripformsblock .nav-tabs li.active a {
  background-color: #f2f4f5;
  color: #003087;
  z-index: 1;
}
html body #block-routeandtripformsblock .tab-content #route-form-container,
html body #block-routeandtripformsblock .tab-content #trip-form-pane,
html body #block-routeandtripformsblock .tab-content #stops-form-pane {
  padding: 10px 15px 15px 15px;
  background-color: #f2f4f5;
  border: 1px solid #dddddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 1px;
  min-height: 300px;
  min-width: 340px;
}
@media screen and (max-width: 1199px) {
  html body #block-routeandtripformsblock .tab-content #route-form-container,
  html body #block-routeandtripformsblock .tab-content #trip-form-pane,
  html body #block-routeandtripformsblock .tab-content #stops-form-pane {
    min-width: 100%;
  }
}
html body #block-routeandtripformsblock .tab-content #route-form-container form,
html body #block-routeandtripformsblock .tab-content #trip-form-pane form {
  overflow: hidden;
}
html body #block-routeandtripformsblock .tab-content #route-form-container form .route-form-items,
html body #block-routeandtripformsblock .tab-content #trip-form-pane form .route-form-items {
  width: 100%;
}
html body #block-routeandtripformsblock .tab-content #trips {
  border-top-left-radius: 5px;
}
html body #block-routeandtripformsblock .tab-content .select-wrapper:after {
  z-index: 0;
}
html body #block-routeandtripformsblock .tab-content .chosen-container {
  width: 100% !important;
}
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-single,
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-default {
  background-image: none;
  background-color: #fff;
  height: 35px;
}
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-single span,
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-default span {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #999;
  padding: 2%;
}
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-single.chosen-container-active span,
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-default.chosen-container-active span {
  color: #000;
}
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-single div b,
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-default div b {
  margin-top: 5px;
}
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-drop .disabled-result {
  display: none;
}
html body #block-routeandtripformsblock .tab-content .chosen-container .chosen-drop li {
  font-size: 14px;
  line-height: 12px;
}
html body #block-routeandtripformsblock .tab-content .button,
html body #block-routeandtripformsblock .tab-content .btn-primary {
  background-color: #003087;
  color: #fff;
  margin-top: 20px;
  float: right;
}
html body #block-routeandtripformsblock .tab-content .button:hover,
html body #block-routeandtripformsblock .tab-content .btn-primary:hover {
  background-color: #424d51;
}
html body #block-routeandtripformsblock .tab-content button#locate {
  background-color: transparent;
  border: none;
  color: #003087;
  margin: 0;
  text-decoration: underline;
}
html body #block-routeandtripformsblock .tab-content button#locate:hover {
  background-color: tranparent;
  text-decoration: none;
}
html body #block-routeandtripformsblock .tab-content button.disabled {
  background-color: #424d51;
  color: #fff;
  border-color: #424d51;
}
html body #block-routeandtripformsblock .tab-content button#direction {
  background: #DE7C00;
  border-color: #DE7C00;
}
html body #routes-media {
  margin-top: 20px;
  margin-left: 10px;
}
html body #routes-media h2 {
  font-size: 2.2rem;
  font-weight: 400;
}
html body.path-plan-your-trip .main-container .row .region-highlighted {
  margin-left: 60px;
}
@media screen and (max-width: 991px) {
  html body.path-plan-your-trip .main-container .row .region-highlighted {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  html body.path-plan-your-trip .main-container .row {
    display: initial !important;
  }
}
@media screen and (min-width: 992px) {
  html body.path-plan-your-trip .routes-page-content-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .header-routes-all {
    margin-left: -20px;
    margin-right: -20px;
  }
}
#route-filter-control {
  text-align: right;
  position: relative;
  transition: all 100ms;
}
#route-filter-control button.route-filter {
  font-family: 'Font Awesome';
}
#route-filter-control.sticky {
  position: fixed;
  z-index: 999;
  background: #fff;
  border: 2px solid #ededed;
  width: auto;
  right: 0;
  top: 150px;
  padding: 15px;
  -webkit-box-shadow: -5px 0px 5px -3px rgba(0, 0, 0, 0.67);
  box-shadow: -5px 0px 5px -3px rgba(0, 0, 0, 0.67);
  transition: all 100ms;
}
#route-effective {
  margin: 0 0 20px 0;
}
#route-form-container {
  /*min-height: 400px;*/
}
@media screen and (max-width: 991px) {
  #route-form-container {
    /*min-height: 300px;*/
  }
}
#route-form-container #route-form button.form-submit {
  background-color: #003087;
  color: #fff;
  margin-top: 20px;
  float: right;
}
#route-form-container #route-form button.form-submit:hover {
  background-color: #424d51;
}
#route-form-container.hide-form {
  right: -100%;
  border: solid #002F87 2px;
  padding: 25px;
  background: #fff;
  width: 300px;
  z-index: 999;
  bottom: 10%;
  position: fixed;
  -webkit-box-shadow: -5px 0px 5px -3px rgba(0, 0, 0, 0.67);
  box-shadow: -5px 0px 5px -3px rgba(0, 0, 0, 0.67);
}
#route-form-container .close-button {
  margin: 0 0 15px 0;
  text-align: right;
}
#route-table-weekdays, #route-table-weekend {
  margin-top: 10px;
  padding: 0;
}
#route-table-weekdays tr.bold td, #route-table-weekend tr.bold td {
  font-weight: bold;
}
#route-table-weekdays tr td, #route-table-weekend tr td {
  min-width: 90px;
}
#route-table-weekdays .table-controls, #route-table-weekend .table-controls {
  margin-bottom: 20px;
}
#route-table-weekdays .table-controls .btn-primary.active, #route-table-weekend .table-controls .btn-primary.active {
  background: #003087;
  color: #fff;
}
#route-table-weekdays .table-controls .btn-primary.active:hover, #route-table-weekend .table-controls .btn-primary.active:hover {
  background-color: #424d51;
}
#route-map {
  padding: 0 !important;
  z-index: 100;
  position: relative;
}
#route-map .map-frame {
  width: 100%;
}
@media screen and (max-width: 991px) {
  #route-map .map-frame {
    width: 95%;
  }
}
#route-map .map-frame #route-map-frame-inbound,
#route-map .map-frame #route-map-frame-outbound {
  min-height: 400px;
}
#route-map .map-frame #route-map-frame-inbound h3,
#route-map .map-frame #route-map-frame-outbound h3 {
  font-size: 18px;
  line-height: 19px;
  margin-top: 0;
}
#route-map .map-frame #route-map-frame-inbound p,
#route-map .map-frame #route-map-frame-outbound p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.table-navigation-buttons .left-table-button {
  float: left;
}
.table-navigation-buttons .right-table-button {
  float: right;
}
#outbound--navigation-buttons,
#inbound--navigation-buttons {
  border: 1px solid #ddd;
  border-bottom: 0;
  overflow: hidden;
}
.table-navigation-buttons .left-table-button {
  border-radius: 0;
  border: 0;
  background: #DE7C00;
  color: #fff;
}
.table-navigation-buttons .right-table-button {
  border-radius: 0;
  border: 0;
  background: #DE7C00;
  color: #fff;
}
.table-navigation-buttons .left-table-button:hover,
.table-navigation-buttons .right-table-button:hover {
  background: #DE7C00;
  color: #fff;
}
.table-navigation-buttons .left-table-button:hover:active,
.table-navigation-buttons .right-table-button:hover:active {
  background: #424d51;
  border: 0 !important;
  color: #fff;
  outline: 0;
}
.table-navigation-buttons .left-table-button:active,
.table-navigation-buttons .right-table-button:active {
  background: #424d51;
  border: 0 !important;
  color: #fff;
  outline: 0;
}
.table-navigation-buttons .left-table-button:focus,
.table-navigation-buttons .right-table-button:focus {
  background: #DE7C00;
  border: 0 !important;
  color: #fff;
  outline: 0;
}
.table-navigation-buttons .left-table-button[disabled],
.table-navigation-buttons .right-table-button[disabled] {
  display: none;
}
.table-navigation-buttons .left-table-button[disabled]:hover,
.table-navigation-buttons .right-table-button[disabled]:hover {
  display: none;
}
#inbound-large-screen-route-table,
#outbound-large-screen-route-table {
  margin-top: 0;
  clear: both;
}
#inbound-large-screen-route-table table.table,
#outbound-large-screen-route-table table.table {
  width: auto !important;
  border-collapse: collapse;
  border: none;
  display: block;
  overflow-y: hidden;
  /*overflow-y: scroll;
      height: 90vh;
      */
}
#inbound-large-screen-route-table table.table thead tr th,
#outbound-large-screen-route-table table.table thead tr th {
  text-align: center;
}
#inbound-large-screen-route-table table.table thead tr th h2,
#outbound-large-screen-route-table table.table thead tr th h2 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 2.4rem;
  width: 200px;
}
@media screen and (max-width: 991px) {
  #inbound-large-screen-route-table table.table thead tr th h2,
  #outbound-large-screen-route-table table.table thead tr th h2 {
    width: 100px;
  }
}
#inbound-large-screen-route-table table.table thead tr th.rotate,
#outbound-large-screen-route-table table.table thead tr th.rotate {
  height: 100px;
  margin-bottom: 20px;
  border-left: 0;
  border-right: 0;
}
#inbound-large-screen-route-table table.table thead tr th.rotate > div,
#outbound-large-screen-route-table table.table thead tr th.rotate > div {
  transform: translate(35px, -5px) rotate(315deg);
  width: 100px;
  margin-bottom: 20px;
}
#inbound-large-screen-route-table table.table thead tr th.rotate > div > span,
#outbound-large-screen-route-table table.table thead tr th.rotate > div > span {
  padding: 0;
}
#inbound-large-screen-route-table table.table tbody td,
#outbound-large-screen-route-table table.table tbody td {
  text-align: right;
}
/*#inbound-large-screen-route-table table.table tbody tr th,*/
/*#outbound-large-screen-route-table table.table tbody tr th {*/
/*  !*border-left: 35px solid #80D80E;*!*/
/*  padding-left: 35px;*/
/*}*/
/*#inbound-large-screen-route-table table.table tbody tr.timepoint th:before,*/
/*#outbound-large-screen-route-table table.table tbody tr.timepoint th:before {*/
/*  content: '\f219';*/
/*  font-family: "Font Awesome 5 Pro";*/
/*  color: #fff;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  font-weight: 700;*/
/*  font-size: 1.5rem;*/
/*  margin-top: -7px;*/
/*  padding-top: 5px;*/
/*  padding-left: 2px;*/
/*  background-color: #80D80E;*/
/*  background-size: cover;*/
/*  height: 103%;*/
/*  margin-left: -2px;*/
/*  padding-left: 4px;*/
/*  width: 21px;*/
/*}*/
/*#inbound-large-screen-route-table table.table tbody tr.non-timepoint th:before,*/
/*#outbound-large-screen-route-table table.table tbody tr.non-timepoint th:before {*/
/*  content: '\f111';*/
/*  font-family: "Font Awesome 5 Pro";*/
/*  color: #fff;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  font-weight: 700;*/
/*  font-size: 1.1rem;*/
/*  margin-top: -7px;*/
/*  padding-top: 9px;*/
/*  background-color: #80D80E;*/
/*  background-size: cover;*/
/*  height: 103%;*/
/*  margin-left: -2px;*/
/*  padding-left: 5px;*/
/*  width: 21px;*/
/*}*/
#all-routes-container {
  margin-top: 40px;
}
#all-routes-container #all-routes-map,
#all-routes-container #all-routes-map div {
  min-height: 600px !important;
  position: relative !important;
}
#all-routes-container #all-routes-map h3 {
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
}
#all-routes-container #all-routes-map a {
  font-size: 1.6rem;
}
#all-routes-container #all-routes-map a:focus {
  padding: 4px;
}
.dir-control-buttons,
.stop-control-buttons {
  float: right;
  /*WW Trying all sorts of switches, remind her to clean this up :-) */
}
.dir-control-buttons h2,
.stop-control-buttons h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #002F87;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .dir-control-buttons,
  .stop-control-buttons {
    position: relative !important;
    float: left;
    margin: 15px;
  }
}
.dir-control-buttons .dir-control-button,
.stop-control-buttons .dir-control-button,
.dir-control-buttons .stop-control-button,
.stop-control-buttons .stop-control-button {
  /* width: 240px;*/
  height: 40px;
}
.dir-control-buttons .dir-control-button button,
.stop-control-buttons .dir-control-button button,
.dir-control-buttons .stop-control-button button,
.stop-control-buttons .stop-control-button button {
  background-color: #003087;
}
.dir-control-buttons .dir-control-button button:hover,
.stop-control-buttons .dir-control-button button:hover,
.dir-control-buttons .stop-control-button button:hover,
.stop-control-buttons .stop-control-button button:hover {
  background-color: #424d51;
}
.dir-control-buttons .dir-control-button input#direction,
.stop-control-buttons .dir-control-button input#direction,
.dir-control-buttons .stop-control-button input#direction,
.stop-control-buttons .stop-control-button input#direction,
.dir-control-buttons .dir-control-button input#stop,
.stop-control-buttons .dir-control-button input#stop,
.dir-control-buttons .stop-control-button input#stop,
.stop-control-buttons .stop-control-button input#stop {
  /*Unchecked State*/
}
.dir-control-buttons .dir-control-button input#direction + label,
.stop-control-buttons .dir-control-button input#direction + label,
.dir-control-buttons .stop-control-button input#direction + label,
.stop-control-buttons .stop-control-button input#direction + label,
.dir-control-buttons .dir-control-button input#stop + label,
.stop-control-buttons .dir-control-button input#stop + label,
.dir-control-buttons .stop-control-button input#stop + label,
.stop-control-buttons .stop-control-button input#stop + label {
  height: 100%;
  width: 100%;
}
.dir-control-buttons .dir-control-button input#direction + label > .direction-switch,
.stop-control-buttons .dir-control-button input#direction + label > .direction-switch,
.dir-control-buttons .stop-control-button input#direction + label > .direction-switch,
.stop-control-buttons .stop-control-button input#direction + label > .direction-switch,
.dir-control-buttons .dir-control-button input#stop + label > .direction-switch,
.stop-control-buttons .dir-control-button input#stop + label > .direction-switch,
.dir-control-buttons .stop-control-button input#stop + label > .direction-switch,
.stop-control-buttons .stop-control-button input#stop + label > .direction-switch,
.dir-control-buttons .dir-control-button input#direction + label > .stop-switch,
.stop-control-buttons .dir-control-button input#direction + label > .stop-switch,
.dir-control-buttons .stop-control-button input#direction + label > .stop-switch,
.stop-control-buttons .stop-control-button input#direction + label > .stop-switch,
.dir-control-buttons .dir-control-button input#stop + label > .stop-switch,
.stop-control-buttons .dir-control-button input#stop + label > .stop-switch,
.dir-control-buttons .stop-control-button input#stop + label > .stop-switch,
.stop-control-buttons .stop-control-button input#stop + label > .stop-switch {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: grey;
  color: white;
  transition: all 0.5s ease;
  padding: 3px;
  border-radius: 3px;
}
.dir-control-buttons .dir-control-button input#direction + label > .direction-switch:before,
.stop-control-buttons .dir-control-button input#direction + label > .direction-switch:before,
.dir-control-buttons .stop-control-button input#direction + label > .direction-switch:before,
.stop-control-buttons .stop-control-button input#direction + label > .direction-switch:before,
.dir-control-buttons .dir-control-button input#stop + label > .direction-switch:before,
.stop-control-buttons .dir-control-button input#stop + label > .direction-switch:before,
.dir-control-buttons .stop-control-button input#stop + label > .direction-switch:before,
.stop-control-buttons .stop-control-button input#stop + label > .direction-switch:before,
.dir-control-buttons .dir-control-button input#direction + label > .stop-switch:before,
.stop-control-buttons .dir-control-button input#direction + label > .stop-switch:before,
.dir-control-buttons .stop-control-button input#direction + label > .stop-switch:before,
.stop-control-buttons .stop-control-button input#direction + label > .stop-switch:before,
.dir-control-buttons .dir-control-button input#stop + label > .stop-switch:before,
.stop-control-buttons .dir-control-button input#stop + label > .stop-switch:before,
.dir-control-buttons .stop-control-button input#stop + label > .stop-switch:before,
.stop-control-buttons .stop-control-button input#stop + label > .stop-switch:before,
.dir-control-buttons .dir-control-button input#direction + label > .direction-switch:after,
.stop-control-buttons .dir-control-button input#direction + label > .direction-switch:after,
.dir-control-buttons .stop-control-button input#direction + label > .direction-switch:after,
.stop-control-buttons .stop-control-button input#direction + label > .direction-switch:after,
.dir-control-buttons .dir-control-button input#stop + label > .direction-switch:after,
.stop-control-buttons .dir-control-button input#stop + label > .direction-switch:after,
.dir-control-buttons .stop-control-button input#stop + label > .direction-switch:after,
.stop-control-buttons .stop-control-button input#stop + label > .direction-switch:after,
.dir-control-buttons .dir-control-button input#direction + label > .stop-switch:after,
.stop-control-buttons .dir-control-button input#direction + label > .stop-switch:after,
.dir-control-buttons .stop-control-button input#direction + label > .stop-switch:after,
.stop-control-buttons .stop-control-button input#direction + label > .stop-switch:after,
.dir-control-buttons .dir-control-button input#stop + label > .stop-switch:after,
.stop-control-buttons .dir-control-button input#stop + label > .stop-switch:after,
.dir-control-buttons .stop-control-button input#stop + label > .stop-switch:after,
.stop-control-buttons .stop-control-button input#stop + label > .stop-switch:after {
  border-radius: 2px;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  transition: all 0.3s ease;
}
.dir-control-buttons .dir-control-button input#direction + label > .direction-switch:before,
.stop-control-buttons .dir-control-button input#direction + label > .direction-switch:before,
.dir-control-buttons .stop-control-button input#direction + label > .direction-switch:before,
.stop-control-buttons .stop-control-button input#direction + label > .direction-switch:before,
.dir-control-buttons .dir-control-button input#stop + label > .direction-switch:before,
.stop-control-buttons .dir-control-button input#stop + label > .direction-switch:before,
.dir-control-buttons .stop-control-button input#stop + label > .direction-switch:before,
.stop-control-buttons .stop-control-button input#stop + label > .direction-switch:before,
.dir-control-buttons .dir-control-button input#direction + label > .stop-switch:before,
.stop-control-buttons .dir-control-button input#direction + label > .stop-switch:before,
.dir-control-buttons .stop-control-button input#direction + label > .stop-switch:before,
.stop-control-buttons .stop-control-button input#direction + label > .stop-switch:before,
.dir-control-buttons .dir-control-button input#stop + label > .stop-switch:before,
.stop-control-buttons .dir-control-button input#stop + label > .stop-switch:before,
.dir-control-buttons .stop-control-button input#stop + label > .stop-switch:before,
.stop-control-buttons .stop-control-button input#stop + label > .stop-switch:before {
  background-color: #80D80E;
  color: black;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  left: 3px;
  z-index: 10;
  content: attr(data-unchecked);
}
.dir-control-buttons .dir-control-button input#direction + label > .direction-switch:after,
.stop-control-buttons .dir-control-button input#direction + label > .direction-switch:after,
.dir-control-buttons .stop-control-button input#direction + label > .direction-switch:after,
.stop-control-buttons .stop-control-button input#direction + label > .direction-switch:after,
.dir-control-buttons .dir-control-button input#stop + label > .direction-switch:after,
.stop-control-buttons .dir-control-button input#stop + label > .direction-switch:after,
.dir-control-buttons .stop-control-button input#stop + label > .direction-switch:after,
.stop-control-buttons .stop-control-button input#stop + label > .direction-switch:after,
.dir-control-buttons .dir-control-button input#direction + label > .stop-switch:after,
.stop-control-buttons .dir-control-button input#direction + label > .stop-switch:after,
.dir-control-buttons .stop-control-button input#direction + label > .stop-switch:after,
.stop-control-buttons .stop-control-button input#direction + label > .stop-switch:after,
.dir-control-buttons .dir-control-button input#stop + label > .stop-switch:after,
.stop-control-buttons .dir-control-button input#stop + label > .stop-switch:after,
.dir-control-buttons .stop-control-button input#stop + label > .stop-switch:after,
.stop-control-buttons .stop-control-button input#stop + label > .stop-switch:after {
  right: 0;
  content: attr(data-checked);
}
.dir-control-buttons .dir-control-button input#direction:checked + label > .direction-switch,
.stop-control-buttons .dir-control-button input#direction:checked + label > .direction-switch,
.dir-control-buttons .stop-control-button input#direction:checked + label > .direction-switch,
.stop-control-buttons .stop-control-button input#direction:checked + label > .direction-switch,
.dir-control-buttons .dir-control-button input#stop:checked + label > .direction-switch,
.stop-control-buttons .dir-control-button input#stop:checked + label > .direction-switch,
.dir-control-buttons .stop-control-button input#stop:checked + label > .direction-switch,
.stop-control-buttons .stop-control-button input#stop:checked + label > .direction-switch,
.dir-control-buttons .dir-control-button input#direction:checked + label > .stop-switch,
.stop-control-buttons .dir-control-button input#direction:checked + label > .stop-switch,
.dir-control-buttons .stop-control-button input#direction:checked + label > .stop-switch,
.stop-control-buttons .stop-control-button input#direction:checked + label > .stop-switch,
.dir-control-buttons .dir-control-button input#stop:checked + label > .stop-switch,
.stop-control-buttons .dir-control-button input#stop:checked + label > .stop-switch,
.dir-control-buttons .stop-control-button input#stop:checked + label > .stop-switch,
.stop-control-buttons .stop-control-button input#stop:checked + label > .stop-switch {
  background-color: grey;
}
.dir-control-buttons .dir-control-button input#direction:checked + label > .direction-switch:after,
.stop-control-buttons .dir-control-button input#direction:checked + label > .direction-switch:after,
.dir-control-buttons .stop-control-button input#direction:checked + label > .direction-switch:after,
.stop-control-buttons .stop-control-button input#direction:checked + label > .direction-switch:after,
.dir-control-buttons .dir-control-button input#stop:checked + label > .direction-switch:after,
.stop-control-buttons .dir-control-button input#stop:checked + label > .direction-switch:after,
.dir-control-buttons .stop-control-button input#stop:checked + label > .direction-switch:after,
.stop-control-buttons .stop-control-button input#stop:checked + label > .direction-switch:after,
.dir-control-buttons .dir-control-button input#direction:checked + label > .stop-switch:after,
.stop-control-buttons .dir-control-button input#direction:checked + label > .stop-switch:after,
.dir-control-buttons .stop-control-button input#direction:checked + label > .stop-switch:after,
.stop-control-buttons .stop-control-button input#direction:checked + label > .stop-switch:after,
.dir-control-buttons .dir-control-button input#stop:checked + label > .stop-switch:after,
.stop-control-buttons .dir-control-button input#stop:checked + label > .stop-switch:after,
.dir-control-buttons .stop-control-button input#stop:checked + label > .stop-switch:after,
.stop-control-buttons .stop-control-button input#stop:checked + label > .stop-switch:after {
  left: 0;
  content: attr(data-unchecked);
}
.dir-control-buttons .dir-control-button input#direction:checked + label > .direction-switch:before,
.stop-control-buttons .dir-control-button input#direction:checked + label > .direction-switch:before,
.dir-control-buttons .stop-control-button input#direction:checked + label > .direction-switch:before,
.stop-control-buttons .stop-control-button input#direction:checked + label > .direction-switch:before,
.dir-control-buttons .dir-control-button input#stop:checked + label > .direction-switch:before,
.stop-control-buttons .dir-control-button input#stop:checked + label > .direction-switch:before,
.dir-control-buttons .stop-control-button input#stop:checked + label > .direction-switch:before,
.stop-control-buttons .stop-control-button input#stop:checked + label > .direction-switch:before,
.dir-control-buttons .dir-control-button input#direction:checked + label > .stop-switch:before,
.stop-control-buttons .dir-control-button input#direction:checked + label > .stop-switch:before,
.dir-control-buttons .stop-control-button input#direction:checked + label > .stop-switch:before,
.stop-control-buttons .stop-control-button input#direction:checked + label > .stop-switch:before,
.dir-control-buttons .dir-control-button input#stop:checked + label > .stop-switch:before,
.stop-control-buttons .dir-control-button input#stop:checked + label > .stop-switch:before,
.dir-control-buttons .stop-control-button input#stop:checked + label > .stop-switch:before,
.stop-control-buttons .stop-control-button input#stop:checked + label > .stop-switch:before {
  color: black;
  left: 50%;
  content: attr(data-checked);
}
#outbound-large-screen-route-table table,
#outbound-small-screen-route-table table,
#inbound-large-screen-route-table table,
#inbound-small-screen-route-table table {
  width: 100%;
}
#outbound-large-screen-route-table table thead tr th:first-child,
#outbound-small-screen-route-table table thead tr th:first-child,
#inbound-large-screen-route-table table thead tr th:first-child,
#inbound-small-screen-route-table table thead tr th:first-child {
  position: sticky !important;
  width: 20%;
  left: 0;
  background: #003087;
  z-index: 1;
  color: #fff;
  position: relative;
}
#outbound-large-screen-route-table table tbody tr:nth-of-type(odd),
#outbound-small-screen-route-table table tbody tr:nth-of-type(odd),
#inbound-large-screen-route-table table tbody tr:nth-of-type(odd),
#inbound-small-screen-route-table table tbody tr:nth-of-type(odd) {
  background-color: inherit;
}
#outbound-large-screen-route-table table tbody tr:hover,
#outbound-small-screen-route-table table tbody tr:hover,
#inbound-large-screen-route-table table tbody tr:hover,
#inbound-small-screen-route-table table tbody tr:hover {
  background: #909090;
  color: #fff;
}
#outbound-large-screen-route-table table tbody tr th,
#outbound-small-screen-route-table table tbody tr th,
#inbound-large-screen-route-table table tbody tr th,
#inbound-small-screen-route-table table tbody tr th {
  position: sticky !important;
  width: 20%;
  left: 0;
  background: #003087;
  z-index: 1;
  color: #fff;
  position: relative;
}
#outbound-large-screen-route-table table tbody tr td,
#outbound-small-screen-route-table table tbody tr td,
#inbound-large-screen-route-table table tbody tr td,
#inbound-small-screen-route-table table tbody tr td {
  position: relative;
}
#outbound-large-screen-route-table table tbody tr td:hover:after,
#outbound-small-screen-route-table table tbody tr td:hover:after,
#inbound-large-screen-route-table table tbody tr td:hover:after,
#inbound-small-screen-route-table table tbody tr td:hover:after {
  content: "";
  position: absolute;
  background: #dedede !important;
  color: #fff !important;
  left: 0;
  top: -5000px;
  height: 5300px;
  width: 100%;
  z-index: -1;
}
.stop-control-buttons {
  position: relative !important;
}
.stop-table {
  width: 17%!important;
  float: left;
}
.stop-table th:after {
  font-family: "Font Awesome 5 Free";
  content: '\f078';
  float: right;
  font-weight: 400;
}
.stop-table th[aria-expanded="true"]:after {
  font-family: "Font Awesome 5 Free";
  content: '\f077';
  float: right;
  font-weight: 400;
}
.carousel {
  margin-top: 30px;
}
.carousel .carousel-controls {
  position: relative;
  min-height: 40px;
}
.carousel .carousel-controls button.left,
.carousel .carousel-controls button.right {
  top: 0;
  position: absolute;
}
.carousel .carousel-controls button.left .glyphicon:before,
.carousel .carousel-controls button.right .glyphicon:before {
  color: #000;
  position: relative;
  font-size: 30px;
}
.carousel .carousel-controls button.left .glyphicon.glyphicon-chevron-left,
.carousel .carousel-controls button.right .glyphicon.glyphicon-chevron-left,
.carousel .carousel-controls button.left .glyphicon.glyphicon-chevron-right,
.carousel .carousel-controls button.right .glyphicon.glyphicon-chevron-right {
  margin-top: 0;
  top: 0;
}
.carousel .carousel-controls button.left {
  left: 0;
}
.carousel .carousel-controls button.right {
  right: 0;
}
.carousel .carousel-controls .indicators {
  top: 60px;
  position: relative;
}
.carousel .carousel-controls .indicators ol li {
  background: #000;
}
@media only screen and (max-width: 991px) {
  #route-table-weekdays, #route-table-weekend {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .routes-page-content-container #realtime-tab, .routes-page-content-container #schedule-tab {
    font-size: 20px !important;
  }
}
