.nav-tabs {
  margin-bottom: 15px !important;
}

li.nav-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 8px solid #9EA3A9;
  width: 50%;
}

li.nav-item.active {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 8px solid #003087;
}

a.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: #3D4854 !important;
  border: none !important;
  margin-left: 50%;
  transform: translateX(-50%);
}

a.nav-link.active {
  color: #003087 !important;
  border: none !important;
}

li.nav-item.active  a.nav-link {
  color: #003087 !important;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

#route-change {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 14px 16px;
  background-color: white;
  background-image: url("/modules/custom/it_route_trip_tools/assets/images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  font-size: 14px !important;
  border-color: #ccc;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
}

#filters h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  color: #0D1A29 !important;
}

#filters .dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 14px 16px;
  background-color: white;
  background-image: url("/modules/custom/it_route_trip_tools/assets/images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  font-size: 14px !important;
  border-color: #ccc;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
}



#filters .dropdown-toggle:after {
  display: none !important;
}

.btn.btn-default {
  text-align: left !important;
}

.input-width-80 {
  width: 80%
}

label.form-check-label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #0D1A29;
}

.right-table-button {
  float: right;
}

.table-header {
  padding: 5px;
  border-left: 1px solid #D1D2D6;
  border-right: 1px solid #D1D2D6;
  min-height: 60px;
}

#inbound-back, #inbound-forward, #outbound-back, #outbound-forward {
  background: #003087;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  font-size: 26px;
  padding: 6px 12px;
}

#outbound-map-heading {
  margin-top: 2rem;
}

#inbound-map-heading {
  margin-top: 2rem;
}

#route-map-weekdays {
  padding: 0;
}

#outbound-map .outbound-panel {
  border: none;
}
#inbound-map .inbound-panel {
  border: none;
}

#inbound-large-screen-route-table table.table tbody tr td:nth-child(1), #outbound-large-screen-route-table table.table tbody tr td:nth-child(1),
#inbound-large-screen-route-table table.table tbody tr th, #outbound-large-screen-route-table table.table tbody tr th {
  background: #F0F5FA !important;
  height: 78px;
  min-width: 200px;
  color: #0D1A29;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  padding-left: 35px;
  border-bottom: 1px solid #D1D2D6;
  border-top: 1px solid #D1D2D6;
  border-left: none;
}

#inbound-large-screen-route-table table.table, #outbound-large-screen-route-table table.table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

#inbound-large-screen-route-table table.table tbody tr.timepoint td:nth-child(1):before,
#outbound-large-screen-route-table table.table tbody tr.timepoint td:nth-child(1):before,
#inbound-large-screen-route-table table.table tbody tr.timepoint th:before,
#outbound-large-screen-route-table table.table tbody tr.timepoint th:before {
  content: '';
  color: #fff;
  position: absolute;
  left: 0;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: url("/modules/custom/it_route_trip_tools/assets/images/Timepoint.svg");
  background-size: cover;
  height: 100%;
  width: 27px;
  top: 0;
}

#inbound-large-screen-route-table table.table tbody tr td:nth-child(1),
#outbound-large-screen-route-table table.table tbody tr td:nth-child(1),
#inbound-large-screen-route-table table.table tbody tr th,
#outbound-large-screen-route-table table.table tbody tr th {
  text-align: left !important;
  vertical-align: middle !important;
  /*border: 1px solid #D1D2D6;*/
}

#inbound-large-screen-route-table table.table tbody tr td,
#outbound-large-screen-route-table table.table tbody tr td {
  text-align: center !important;
  vertical-align: middle !important;
  border-top: 1px solid #D1D2D6;
  border-right: 1px solid #D1D2D6;
  border-bottom: 0;
  border-left: 0;
}

#outbound-large-screen-route-table table.table,
#inbound-large-screen-route-table table.table {
  border-right: 1px solid #D1D2D6;
  border-left: 1px solid #D1D2D6;
}

.table-header .btn-stops-toggle, .mobile-lists-container .btn-stops-toggle {
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #F1F3F6;
  border: 0.860282px solid #D1D2D6;
  border-radius: 86.0282px;
  display: inline-flex;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px !important;
}

.table-header .btn-stops-toggle .btn-default,
.mobile-lists-container .btn-stops-toggle .btn-default,
.table-header .btn-stops-toggle .btn-primary,
.mobile-lists-container .btn-stops-toggle .btn-primary {
  color: rgba(13, 26, 41, 1);
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 86.0282px;
  height: 34px;
  font-size: 14px !important;
  padding: 6px 12px !important;
}

.table-header .btn-stops-toggle .active,
.table-header .btn-stops-toggle .active.focus,
.mobile-lists-container .btn-stops-toggle .active,
.mobile-lists-container .btn-stops-toggle .active.focus {
  color: #fff;
  background-color: #007B5F !important;
  border: none;
  outline: none;
  border-radius: 86.0282px !important;
  height: 34px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1);
  font-size: 14px !important;
  padding: 6px 12px !important;
}

#filters .dropdown-item {
  padding-left: 10px;
  padding-right: 10px;
}

#filters .form-check-label .dropdown-item {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  color: #222222;
}

#filters .form-check-label {
  white-space: nowrap;
  margin: 0;
}

#filters .dropdown-menu {
  max-height: 225px;
  width: max-content;
  overflow-y: scroll;
  background-color: #F1F3F6;
}

#filters .dropdown-menu:after {
  display: table;
  content: "";
  clear: both;
}

#filters .dropdown-menu li {
  margin-bottom: 0;
  padding-bottom: 0;
}

#download-link {
  justify-content: center;
  align-items: center;
  padding: 12px 16px;

  width: 170.4px;
  height: 46px;

  background: #FFFFFF;

  border: 1px solid #003087;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;

  text-align: center;

  color: #003087;
}
#filter-route {
  display: block;
}
#filter-viewmode {
  display: none;
}
#filters > h5 {
  display: none;
}

.region-header-mid {
  min-height: 65px;
}

.region-header-mid, .region-header-mid .breadcrumb {
  background: #F0F5FA;
}

.region-header-mid .breadcrumb {
  padding: 21px 15px;
  float: left;
  position: absolute;
}

.region-header-mid .breadcrumb li {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: #003087;
}

.region-header-mid .breadcrumb li a {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  color: #0D1A29;
}

.modal-content .row.container p, .modal-content .row.container span {
  font-size: small;
}
.modal-content .row.container {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.route-item-alerts {
  padding: 5px 7px;
  margin: 15px 5px 5px;
  border: 1px solid #D8E1F0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: #000000;
  background-color: white;
  float: right;
  cursor: pointer;
}

.card-link {
  font-size: 15px;
  border: none !important;
}

.what-are-timepoints {
  border-bottom: none !important;
  font-weight: 400;
  font-size: 13px;
  line-height: 135%;
  text-decoration-line: underline;
  color: #003087;
  margin-left: 16px;
}

@media (min-width: 992px) {
  .hide-on-desktop {
    display: none !important;
  }
  .navbar-we-mega-menu>.container-fluid {
    display: block;
    align-items: start;
    justify-content: left !important;
  }
}

@media (max-width: 992px) {
  #download-link {
    display: none;
  }
  #route-info-header {
    width: 100%;
  }
  .alerts-collapse {
    float: right;
    padding-top: 0 !important;
  }

  .form-radios {
    display: flex;
    gap: 10px
  }

  #what-are-timepoints {
    display: none;
  }
  a.nav-link, li.nav-item.active  a.nav-link {
    font-size: 18px;
    line-height: unset;
    white-space: nowrap;
  }

  .lists-list-item {
    border: 1px solid #D1D2D6;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 0 !important;
  }

  .lists-list-item-title {
    width: 100%;
    background-color: #F0F5FA;
    padding: 15px 15px;
  }

  .lists-list-item-content {
    width: 100%;
    background-color: #FFF;
  }

  #filters {
    border: 1px solid #D1D2D6;
    /* Intercity DS */

    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
  #filter-route {
    display: none;
  }
  #filter-viewmode {
    display: block;
  }
  li.nav-item:not(.active) {
    padding-bottom: 10px !important;
  }

  #filters > h5 {
    display: block !important;
    padding-left: 15px;
  }
  #route-info-header {
    display:inline-flex;
  }
  #route-map .map-frame {
     width: 100% !important;
  }
  .lists-list-item {
    display: block;
    margin-bottom: 15px;
  }
  .lists-list-item-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 135%;
    color: #0D1A29;
    min-height: 53px;
  }
  .lists-list-item-title span {
    padding: 6px 10px;
    width: 77px;
    height: 28px;
    background: #007B5F;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    position: absolute;
    right: 15px;
    top: -5px;
    color: #FFFFFF;
  }
  .lists-list-item-content {
    padding: 5px 15px;
  }
}

.close.ui-dialog-titlebar-close {
  position: unset !important;
  margin-right: 5px;
}

.close.ui-dialog-titlebar-close span {
  border-radius: 15px !important;
  border: 1px solid #003087 !important;
  width: 30px !important;
  height: 30px !important;
  color: #003087 !important;
  font-weight: 100 !important;
  font-size: x-large !important;
}


#view-all-alerts-breadcrumb {
  justify-content: center;
  align-items: center;
  padding: 12px 16px;

  width: 100%;
  height: 46px;

  background: #FFFFFF;

  border: 1px solid #003087;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;

  text-align: center;

  color: #003087;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: none !important;
}
.table-striped>tbody>tr:nth-of-type(odd)>td:first-child {
  --bs-table-accent-bg: none !important;
}

.maps .panel-title a, .maps .panel-title span {
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 165%;
  text-decoration: none;
  border-bottom: none;
}

.maps .panel-title a:hover {
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 165%;
  text-decoration: none;
  border-bottom: none;
}

span.map-toggle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(40%);
  height: calc(100% - 4rem);
  width: 53px;
  background-color: #003087;
  color: white !important;
}

div.container.nav-outer-wrapper {
  margin: 0 !important;
  max-width: 100% !important;
}

ul.nav.nav-tabs.subul {
  display: block !important;
}

header.navbar.navbar-default {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333333;
  font-size: 1.5em;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  display: block;
  position: relative;
  min-height: 50px;
  z-index: 999;
  max-width: 1260px;
  width: 100%;
  padding-left: 8px;
  padding-right: 0;
  margin: 0 auto;
  overflow: visible;
  border-radius: 0;
  border: 0;
  background-color: transparent;
}

.navbar-we-mega-menu {
  padding-top: 0 !important;
  padding-bottom: none !important;
}

.nav-outer-wrapper header.navbar.navbar-default {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media screen and (min-width: 1200px) {
  html body .container {
    width: 100% !important;
    max-width: 100% !important;
  }
}

#realtime-tab, #schedule-tab {
  font-family: 'Roboto', sans-serif !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 28px !important;
}


@media (max-width: 992px) {
  .hide-on-mobile {
    display: none !important;
  }
}