.start-add-container,
.dest-add-container {
  position: relative;
  clear: both;
  display: block;
}
.start-add-container input,
.dest-add-container input {
  padding-right: 45px;
}
.start-add-container button.address-clear,
.dest-add-container button.address-clear {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
  color: #000;
  background-image: none!important;
}
button#locate {
  margin: 10px 0 20px 0;
}
#start-add-alert,
#dest-add-alert {
  margin: 20px 0 10px 0;
}
.routes-page-content-container .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.routes-page-content-container .route-map-wrapper {
  margin-bottom: 40px;
}