/* Global Mobile Breakpoints */
/* Global Colors -- These are used in DB Mega Menu so am saving here so that menu doesn't throw errors */
/* Site Specific Colors */
/*dkgreen*/
/*mdgreen*/
/*graygreen*/
/* mintgreen */
/*dkgray */
/* ltgray */
/*dkpurple*/
/*lime*/
/* IT Colors */
/* Font Size Bases */
/* B (18px)	68.66px */
/* A (16px)	61.04px */
/* B (18px)	54.93px */
/* A (16px)	48.83px */
/* B (18px)	43.95px */
/* A (16px)	39.06px */
/* B (18px)	35.16px */
/* A (16px)	31.25px */
/* B (18px)	28.13px */
/* A (16px)	25.00px */
/* B (18px)	22.50px */
/* A (16px)	20.00px */
/* B (18px)	18.00px */
/* A (16px)	16.00px */
/* B (18px)	14.40px */
/* A (16px)	12.80px */
/* B (18px)	11.52px */
/* A (16px)	10.00px */
/* B (18px)	9.22px */
/* A (16px)	8.19px */
/* B (18px)	7.37px */
/* A (16px)	6.55px */
/* B (18px)	5.90px */
/* A (16px)	5.24px */
/* B (18px)	4.72px */
/* A (16px)	4.19px */
html body {
  /**** End Mega Nav Madness ****/
  /**** Left Sidebar -- Left Nav Styles ****/
}
@media screen and (max-width: 991px) {
  html body .btn-close {
    left: 20px !important;
    top: 50px !important;
    background: #003087;
  }
}
html body .nav-outer-wrapper {
  width: 100%;
  display: block;
  overflow: visible;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper {
    display: none;
  }
}
html body .nav-outer-wrapper header.navbar {
  max-width: 1260px;
  width: 100%;
  padding-left: 8px;
  padding-right: 0;
  margin: 0 auto;
  overflow: visible;
  border-radius: 0;
  border: 0;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    background: #003087;
  }
}
html body .nav-outer-wrapper header.navbar.navbar-default {
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  html body .nav-outer-wrapper header.navbar button#menu-button {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar button#menu-button {
    display: none;
  }
}
html body .nav-outer-wrapper header.navbar .navbar-header {
  float: right;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .navbar-header {
    float: left;
  }
}
html body .nav-outer-wrapper header.navbar .navbar-collapse {
  padding-left: 0;
}
@media screen and (min-width: 992px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu {
    background-color: transparent;
    display: block;
  }
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-toggle {
    border-color: #fff;
    display: block !important;
    float: left;
    /* WW Checking this out margin-bottom: 10px;
                    margin-left: 10px; */
  }
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-toggle:hover,
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-toggle:focus {
    background: transparent;
  }
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-toggle .icon-bar {
    background-color: #fff;
  }
}
@media screen and (max-width: 991px) and screen and (max-width: 767px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-toggle {
    float: left !important;
    margin-top: 10px;
    margin-bottom: 8px;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu {
  background-color: #fff;
  /**** This is for sense of place. If you need to target other active behaviors do it elsewhere :-D */
  /* WW .navbar-we-mega-menu.navbar .nav-tabs .navtabs.li.active>a, .navbar-we-mega-menu.navbar .nav-tabs>li.active>a:focus, .navbar-we-mega-menu.navbar .nav-tabs>li.active>a:hover {
              @media @max991 {
                background: #215893;
                color: #fff;
              }
              }*/
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu.navbar {
  margin-bottom: 0;
}
/* @media screen and (min-width: 992px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu.navbar {
    padding-left: 30px !important;
  }
} */

@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
    left: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: auto;
    background: #003087;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul {
  /* WW See Figuer out what these are doing .nav-tabs>li>a {
                      margin-right: 0;

                      &:hover {
                        border-color: transparent;
                      }
                    }

                    .nav-tabs .dropdown-menu {
                      margin-top: 1px;
                      } */
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul.nav-tabs li a {
  margin-right: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul.nav-tabs li a:hover {
  border-color: transparent;
  margin-right: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li {
  border: none !important;
  margin-right: 20px;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.dropdown-menu > a:before.dropdown-menu > a:after {
  background-image: none;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.dropdown-menu > a:before.dropdown-menu > a:after {
    right: 30px;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.dropdown-menu a:after {
  content: '\f0dd';
  color: #003087;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5rem;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.dropdown-menu a:after {
    color: #fff;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.right .we-mega-menu-submenu {
  right: 0;
  left: initial;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a {
  color: #003087;
  font-size: 2.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  padding: 1.2rem 1.4rem 1.3rem 1.4rem;
  text-decoration: none;
  border-right: none !important;
}
@media screen and (max-width: 1199px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
  }
}
@media screen and (max-width: 1024px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a {
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a {
    color: #fff;
    font-size: 1.9rem;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a.active,
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a:hover {
  color: #fff;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a.active,
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a:hover {
    background: #003087;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a:hover {
  color: #003087;
  background: #e0e9f6;
  /*background: -moz-linear-gradient(top, rgba(11, 72, 107, 1) 0%, rgba(11, 72, 107, 0) 100%);*/
  /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, rgba(11, 72, 107, 1) 0%, rgba(11, 72, 107, 0) 100%);*/
  /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, rgba(11, 72, 107, 1) 0%, rgba(11, 72, 107, 0) 100%);*/
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b486b', endColorstr='#000b486b', GradientType=0);*/
  /* IE6-9 */
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li a:hover {
    background: transparent;
    text-decoration: underline;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.active a {
  color: #003087;
  text-decoration: none;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.active:after {
  content: '\f0d8';
  font-family: "Font Awesome 5 Free";
  color: #6CACE4;
  position: absolute;
  font-size: 3rem;
  font-weight: 900;
  left: 43%;
  top: 50%;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.active:after {
    display: none;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.active ul.subul li a {
  background: transparent;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.active ul.subul li a {
    text-decoration: none;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li.active ul.subul li.active:after {
  display: none;
  content: '';
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu {
  background: #f2f4f5;
  padding: 0;
  border-bottom: 2pt solid #003087;
  right: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu.align-right {
  right: 0;
}
@media screen and (min-width: 992px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu.align-right {
    right: 0;
    left: initial;
  }
}
@media screen and (min-width: 992px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu.align-center {
    left: -40%;
  }
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu {
    background: #003087;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner {
  min-height: auto;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col {
  margin: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul {
  padding-top: 0;
  padding-bottom: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li.we-mega-menu-li {
  margin-right: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li a {
  padding: 5px 0 5px 15px;
  font-size: 1.7rem;
  font-weight: 400;
  padding-right: 0 !important;
  color: #666;
  /* WW What's this gonna break? @media @min992 {
                                    padding-top: 4px !important;
                                    padding-bottom: 4px !important;
                                    } */
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li a:active,
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li a:hover,
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li a:focus {
  background: #fff;
  color: #003087;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li a:after {
  display: none;
  content: '';
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li a {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
  }
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li a:first-child {
  font-weight: 500;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li ul {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li ul li {
  margin-bottom: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li ul li:after {
  content: '';
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li ul li a {
  padding-left: 35px;
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 0;
  padding-botttom: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li ul li a:first-child {
  font-weight: 400 !important;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li ul li li {
  margin-bottom: 0;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li ul li li:after {
  content: '';
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col ul li ul li li a {
  padding-left: 45px;
}
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li.active > a,
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li.active > a:hover,
html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li.active > a:focus {
  background: #eee;
  color: #003087;
}
@media screen and (max-width: 991px) {
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li.active > a,
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li.active > a:hover,
  html body .nav-outer-wrapper header.navbar .region-navigation-collapsible .region-we-mega-menu .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li.active > a:focus {
    background: #215893;
  }
}
@media screen and (max-width: 991px) {
  html body .main-container .row aside {
    order: 2;
    float: none;
    clear: both;
    width: 100%;
    padding-bottom: 15px;
  }
}
html body .main-container .row aside .region-sidebar-first {
  margin-top: 0;
}
html body .main-container .row aside .region-sidebar-first h2#block-mainnavigation-2-menu a {
  color: #0f6c8d;
  border-bottom: none;
  text-decoration: none;
  font-size: 2.6rem;
}
html body .main-container .row aside .region-sidebar-first h2#block-mainnavigation-2-menu a:hover {
  text-decoration: none;
  color: #363636;
}
html body .main-container .row aside .region-sidebar-first .nav > li > a:hover,
html body .main-container .row aside .region-sidebar-first .nav > li > a:focus {
  background-color: transparent;
}
html body .main-container .row aside .region-sidebar-first ul.menu li,
html body .main-container .row aside .region-sidebar-first ul li {
  width: 100%;
  position: relative;
  display: block;
  list-style-image: none;
  list-style-type: none;
  margin: 0 0 0 0 !important;
  border-left: transparent 2px solid;
  padding-top: 6px;
  padding-left: 10px;
  padding-bottom: 7px;
  border-bottom: 1pt solid #ddd;
}
html body .main-container .row aside .region-sidebar-first ul.menu li:last-child,
html body .main-container .row aside .region-sidebar-first ul li:last-child {
  border-bottom: none;
}
html body .main-container .row aside .region-sidebar-first ul.menu li.active-trail,
html body .main-container .row aside .region-sidebar-first ul li.active-trail {
  border-left: #003087 2px solid;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edf4f9+0,ffffff+100 */
  background: #edf4f9;
  /* Old browsers */
  background: -moz-linear-gradient(left, #edf4f9 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #edf4f9 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #edf4f9 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf4f9', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}
html body .main-container .row aside .region-sidebar-first ul.menu li.active-trail ul,
html body .main-container .row aside .region-sidebar-first ul li.active-trail ul {
  padding-left: 3px;
}
html body .main-container .row aside .region-sidebar-first ul.menu li.active-trail ul li.active-trail,
html body .main-container .row aside .region-sidebar-first ul li.active-trail ul li.active-trail {
  padding-bottom: 7px;
}
html body .main-container .row aside .region-sidebar-first ul.menu li ul li ul li a,
html body .main-container .row aside .region-sidebar-first ul li ul li ul li a {
  display: block;
  color: #04457d;
}
html body .main-container .row aside .region-sidebar-first ul.menu li a,
html body .main-container .row aside .region-sidebar-first ul li a {
  color: #04457d;
  font-size: 1.5rem;
  padding: 0;
  border-bottom: none;
  display: block;
  text-decoration: none;
}
html body .main-container .row aside .region-sidebar-first ul.menu li a:hover,
html body .main-container .row aside .region-sidebar-first ul li a:hover,
html body .main-container .row aside .region-sidebar-first ul.menu li a.active-trail,
html body .main-container .row aside .region-sidebar-first ul li a.active-trail,
html body .main-container .row aside .region-sidebar-first ul.menu li a:focus,
html body .main-container .row aside .region-sidebar-first ul li a:focus {
  color: #575757;
}
html body .main-container .row aside .region-sidebar-first ul.menu li a.active-trail,
html body .main-container .row aside .region-sidebar-first ul li a.active-trail,
html body .main-container .row aside .region-sidebar-first ul.menu li a:focus,
html body .main-container .row aside .region-sidebar-first ul li a:focus {
  font-weight: 600;
}
html body .main-container .row aside .region-sidebar-first ul.menu li:hover,
html body .main-container .row aside .region-sidebar-first ul li:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#deedf9+0,ffffff+100 */
  background: #deedf9;
  /* Old browsers */
  background: -moz-linear-gradient(left, #deedf9 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #deedf9 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #deedf9 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deedf9', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}
html body .main-container .row aside .region-sidebar-first ul.menu li a.active-trail,
html body .main-container .row aside .region-sidebar-first ul li a.active-trail {
  font-weight: 600;
  font-size: 1.5rem;
  color: #575757;
}
html body .main-container .row aside .region-sidebar-first ul.menu li a.active-trail.has-children,
html body .main-container .row aside .region-sidebar-first ul li a.active-trail.has-children {
  padding-bottom: 5px;
}
html body .main-container .row aside .region-sidebar-first ul.menu ul li.active-trail,
html body .main-container .row aside .region-sidebar-first ul ul li.active-trail {
  border-left: #003087 2px solid;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eff4f7+0,e0edf9+100 */
  background: #eff4f7;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #e0edf9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%, #e0edf9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%, #e0edf9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0edf9', GradientType=1);
  /* IE6-9 */
}
html body .main-container .row aside .region-sidebar-first ul.menu ul li ul,
html body .main-container .row aside .region-sidebar-first ul ul li ul {
  padding-top: 5px;
}
html body .main-container .row aside .region-sidebar-first ul.menu ul li:hover,
html body .main-container .row aside .region-sidebar-first ul ul li:hover {
  border-left: #003087 2px solid;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eff4f7+0,d9e9f7+100 */
  background: #eff4f7;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #d9e9f7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%, #d9e9f7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%, #d9e9f7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9e9f7', GradientType=1);
  /* IE6-9 */
}
html body .main-container .row aside .region-sidebar-first ul.menu ul.dropdown-menu > li > a,
html body .main-container .row aside .region-sidebar-first ul ul.dropdown-menu > li > a {
  white-space: unset;
  padding-right: 10px;
}
html body .main-container .row aside .region-sidebar-first ul.menu ul.dropdown-menu > li > a:hover,
html body .main-container .row aside .region-sidebar-first ul ul.dropdown-menu > li > a:hover,
html body .main-container .row aside .region-sidebar-first ul.menu ul.dropdown-menu > li > a:focus,
html body .main-container .row aside .region-sidebar-first ul ul.dropdown-menu > li > a:focus {
  background-color: transparent;
}
html body .main-container .region-header ol.breadcrumb {
  max-width: 1260px;
  padding: 13px 0 8px 0;
  width: 100%;
  margin: auto;
  background: none;
}
html body .main-container .region-header ol.breadcrumb li {
  margin-bottom: 5px;
}
html body .main-container .region-header ol.breadcrumb li.active {
  font-size: 1em;
  color: #757575;
}
html body .main-container .region-header ol.breadcrumb li a {
  text-decoration: none;
  font-size: ;
}
html body .main-container .region-header ol.breadcrumb li a:visited {
  color: #1964a4;
}
html body .main-container .region-header ol.breadcrumb li:before {
  padding-right: 3px;
}
