/* Global Mobile Breakpoints */
/* Global Colors -- These are used in DB Mega Menu so am saving here so that menu doesn't throw errors */
/* Site Specific Colors */
/*dkgreen*/
/*mdgreen*/
/*graygreen*/
/* mintgreen */
/*dkgray */
/* ltgray */
/*dkpurple*/
/*lime*/
/* IT Colors */
/* Font Size Bases */
/* B (18px)	68.66px */
/* A (16px)	61.04px */
/* B (18px)	54.93px */
/* A (16px)	48.83px */
/* B (18px)	43.95px */
/* A (16px)	39.06px */
/* B (18px)	35.16px */
/* A (16px)	31.25px */
/* B (18px)	28.13px */
/* A (16px)	25.00px */
/* B (18px)	22.50px */
/* A (16px)	20.00px */
/* B (18px)	18.00px */
/* A (16px)	16.00px */
/* B (18px)	14.40px */
/* A (16px)	12.80px */
/* B (18px)	11.52px */
/* A (16px)	10.00px */
/* B (18px)	9.22px */
/* A (16px)	8.19px */
/* B (18px)	7.37px */
/* A (16px)	6.55px */
/* B (18px)	5.90px */
/* A (16px)	5.24px */
/* B (18px)	4.72px */
/* A (16px)	4.19px */
@media screen and (min-width: 992px) {
  .search-form-block-control.desktop-show button.search-toggle {
    display: none;
  }
  .search-form-block-control.desktop-show #search-form {
    display: block;
  }
  .search-form-block-control.desktop-show #search-form div {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .search-form-block-control.mobile-hide {
    clear: both;
    display: block;
    position: relative;
  }
  .search-form-block-control.mobile-hide button.search-toggle {
    display: block;
  }
  .search-form-block-control.mobile-hide .collapse {
    display: none;
    clear: both;
  }
  .search-form-block-control.mobile-hide .collapse.in {
    display: block;
  }
  .search-form-block-control.mobile-hide form .glyphicon-search:before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f061';
  }
}
