/* Global Mobile Breakpoints */
/* Global Colors -- These are used in DB Mega Menu so am saving here so that menu doesn't throw errors */
/* Site Specific Colors */
/*dkgreen*/
/*mdgreen*/
/*graygreen*/
/* mintgreen */
/*dkgray */
/* ltgray */
/*dkpurple*/
/*lime*/
/* IT Colors */
/* Font Size Bases */
/* B (18px)	68.66px */
/* A (16px)	61.04px */
/* B (18px)	54.93px */
/* A (16px)	48.83px */
/* B (18px)	43.95px */
/* A (16px)	39.06px */
/* B (18px)	35.16px */
/* A (16px)	31.25px */
/* B (18px)	28.13px */
/* A (16px)	25.00px */
/* B (18px)	22.50px */
/* A (16px)	20.00px */
/* B (18px)	18.00px */
/* A (16px)	16.00px */
/* B (18px)	14.40px */
/* A (16px)	12.80px */
/* B (18px)	11.52px */
/* A (16px)	10.00px */
/* B (18px)	9.22px */
/* A (16px)	8.19px */
/* B (18px)	7.37px */
/* A (16px)	6.55px */
/* B (18px)	5.90px */
/* A (16px)	5.24px */
/* B (18px)	4.72px */
/* A (16px)	4.19px */
#sidr-mobile,
#block-sidrtriggerbuttonblock {
  display: none;
}
@media screen and (max-width: 991px) {
  #sidr-mobile,
  #block-sidrtriggerbuttonblock {
    display: inline-block;
    float: right;
  }
  #sidr-mobile button.sidr-trigger,
  #block-sidrtriggerbuttonblock button.sidr-trigger {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2.5rem;
  }
}
.sidr {
  background: #003087;
  box-shadow: none;
}
.sidr .navbar-default {
  background-color: transparent;
}
.sidr ul li {
  padding-bottom: 0;
  border-top: none;
  border-bottom: 2px solid #fff;
  display: initial!important;
}
.sidr ul li a {
  color: #fff;
  font-weight: 600;
  line-height: 1.8rem;
  padding: 15px 10px;
}
.sidr ul li a .caret {
  display: none;
}
.sidr ul li a:focus,
.sidr ul li a:hover {
  background-color: transparent;
  border-bottom: 2px solid #fff;
}
.sidr ul li.active a {
  box-shadow: none!important;
}
.sidr .form-type-search {
  width: 75%;
  display: inline-block;
}
.sidr .form-actions {
  display: inline;
}
.sidr input[type="search"] {
  background-color: #fff;
}
.sidr button {
  background-color: transparent;
}
.sidr-trigger {
  background-color: #003087;
  color: #fff;
  border: none;
}
