{% set url = url('<current>') %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<form id="stops-form" action="{{ stops_path }}" method="POST">
		<label for="edit-stop" class="control-label js-form-required form-required">Select a Stop</label>
		<select required name="edit-stop" id="edit-stop" class="form-control chosen-select" data-placeholder="Select a stop">
		{% if stop_options %}
			<option
			{% if stops_path in url|render|render %}
				{% if stop_id == 'all' %}
					 selected
			 	{% endif %}
		 	{% else %}
		 		selected
	 		{% endif %}>Select a stop</option>
			{% for stop_item in stop_options %}
				<option value="{{ stop_item.stop_id }}"
				{% if stops_path in url|render|render %}
					{% if stop_id == stop_item.stop_id %}
						selected
					{% endif %}
				{% endif %}>
					{{ stop_item.stop_id }} - {{ stop_item.stop_name }}
				</option>
			{% endfor %}
		{% endif %}
		</select>
		<button disabled data-drupal-selector="edit-find-stop-button" class="button js-form-submit form-submit btn-default btn" type="submit" id="find-stop" name="op" value="View Stop">View Stop</button>
	</form>
</div>
